* {
    font-family: Roboto, serif;
    margin: 0;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    color: lightgray;
    gap: 16px
}

button {
    background-color:#3882F6;
}

.header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
    padding: 8px 36px;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.top {
    background-color: #1F2937;
    display: flex;
    padding: 0px 36px;
    gap: 0px 16px;
    height: 400px;
    justify-content: space-between;
    align-items: center;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#main-hero {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

#sub-hero {
    font-size: 18px;
    color: #E5E7EB;
}

#signup-button {
    border: none;
    border-radius: 4px;
    color: #E5E7EB;
    font-weight: 600;
    padding: 8px 20px;
    width: 100px;
    flex-grow: 0;
}

.sec-information {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 36px;
    justify-content: center;
}

.information {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.gallery {
    display: flex;
    gap: 20px;
}

.caption-img {
    display: flex;
    flex-direction: column;
    color: gray;
    align-items: center;
    text-align: center;
    gap: 4px;
}

